<% include partials/header %>

<h3>
    All Recipes
</h3>

<table class="ui celled padded table">
    <thead>
    <tr>
        <th>Recipe Title</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Created by User</th>
        <th>Count "YUMMMIES"</th>
    </tr>

    </thead>
    <% recipes.forEach(function(recipe) { %>
        <tr>
            <td><a class="header" href="/showRecipe/<%= recipe._id %>"><%= recipe.title %></a></td>
            <td><%= recipe.text %></td>
            <td><%= recipe.created.toLocaleDateString("de-DE") %></td>
            <td><%= recipe.author.username %></td>
            <td><%= recipe.votes.length %></td>
        </tr>
    <% }); %>
</table>

<% include partials/footer %>
