<% include partials/header %>

<h3><%= recipe.title %> - <%= recipe.created.toLocaleDateString("de-DE") %></h3>
<div>
    <%= recipe.text %>
</div>

<div>
    <%= iLike %>
</div>

<div>
    <%= countVotes %>
</div>

<form action="/showRecipe/<%= recipe.id %>/like" method="POST">
    <button type="submit" class="btn btn-success">Like</button>
</form>

<form action="/showRecipe/<%= recipe.id %>/unlike" method="POST">
    <button type="submit" class="btn btn-danger">Unlike</button>
</form>

<% include partials/footer %>
