<% include partials/header %>

<fieldset disabled>
    <div class="form-group">
        <label for="recipeTitle">Recipe Title</label>
        <input type="text" name="recipe[title]" class="form-control" id="recipeTitle" placeholder="<%= recipe.title %>">
    </div>
    <div class="form-group">
        <label for="recipeCreated">User</label>
        <input type="text" class="form-control" id="recipeCreated" placeholder="<%= recipe.author.username %>">
    </div>
    <div class="form-group">
        <label for="recipeCreated">Create Date</label>
        <input type="text" class="form-control" id="recipeCreated" placeholder="<%= recipe.created.toLocaleDateString("de-DE") %> %>">
    </div>
    <div class="form-group">
        <label for="recipeLikesCount">Likes</label>
        <input type="text" class="form-control" id="recipeLikesCount" placeholder="<%= countVotes %>">
    </div>
    <div class="form-group">
        <label for="recipeText">Recipe</label>
        <textarea class="form-control" id="recipeText" rows="5"><%= recipe.text %></textarea>
    </div>
</fieldset>

<% if(iLike == false) { %>
<form action="/showRecipe/<%= recipe.id %>/like" method="POST">
    <button type="submit" class="btn btn-success">YUMMMIE it!</button>
</form>
<% } %>

<% if(iLike == true) { %>
    <form action="/showRecipe/<%= recipe.id %>/unlike" method="POST">
        <button type="submit" class="btn btn-danger">unYUMMMIE it!</button>
    </form>
<% } %>


<% if(user && recipe.author.id.equals(user._id)) { %>
    <br>
    <form action="/editRecipe/<%= recipe.id %>" method="GET">
        <button type="submit" class="btn btn-warnning">Edit</button>
    </form>
<% } %>

<% include partials/footer %>